.projectsContainer {
  width: 100%;
  background: #f2f4f9;

  .projectsBG {
    height: 100%;
    width: 100%;
    background-image: url("../public/projects-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;

    max-width: 1920px;
    margin: 0 auto;

    .projectsWrapper {
      height: 100%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 40px;
      gap: 30px;

      .projectsTitle {
        width: 100%;

        h1 {
          font-family: "Roboto", sans-serif;
          font-size: 2rem;
          color: rgba(0, 0, 0, 0.8);
          text-align: center;
          padding: 3rem 0 1.3rem 0;
        }
      }

      .projectContainer {
        width: 100%;

        .projectWrapper {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 50px;

          .projectDescription {
            flex: 1 0 300px;
            max-width: 550px;
            background: #fff;
            box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.15);
            border-radius: 0.5rem;
            padding: 0 3rem;

            h1 {
              text-align: center;
              font-family: "Roboto", sans-serif;
              font-size: 1.3rem;
              color: rgba(0, 0, 0, 0.8);
              text-align: center;
              padding: 3rem 0 1.3rem 0;
            }

            .projectP {
              font-family: "Urbanist", sans-serif;
              font-size: 1.1rem;
              line-height: 1.5;
            }

            .projectTech {
              font-family: "Urbanist", sans-serif;
              font-size: 0.9rem;
              color: rgba(0, 0, 0, 0.75);
              padding: 1.3rem 0 3rem 0;
            }
          }

          .projectImage {
            max-width: 700px;
            width: 100%;
            max-height: 500px;
            position: relative;
            overflow: hidden;

            box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.15);
            border-radius: 0.5rem;
            border: 1px solid rgba(51, 51, 51, 0.4);
            background: #fff;

            .slide {
              max-height: 400px;
              height: 100%;
              position: absolute;
              opacity: 0;
              transition: opacity ease-in-out 0.4s;
              width: 100%;

              img {
                width: 100%;
                height: 100%;
                cursor: pointer;
                border-radius: 0.5rem;
              }
            }

            .activeAnim {
              position: relative;
              opacity: 1;
            }

            .activeFullpage {
              position: absolute;
              max-height: 100vh;
              opacity: 1;
              height: 100vh;
              width: 100vw;
              top: 0;
              left: 0;
              z-index: 999 !important;
              overflow: hidden;

              img {
                border-radius: 0;
                aspect-ratio: 4/3;
              }
            }

            .btnSlide {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              border: 1px solid rgba(34, 34, 34, 0.287);
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              img {
                width: 25px;
                height: 25px;
                pointer-events: none;
              }
            }

            .prev {
              top: 50%;
              left: 20px;
              transform: translateY(-60%);
            }

            .next {
              top: 50%;
              right: 20px;
              transform: translateY(-60%);
            }

            .containerDots {
              position: absolute;
              bottom: 10px;
              left: 50%;
              transform: translateX(-50%);
              display: flex;

              background-color: rgba(97, 96, 96, 0.4);
              border-radius: 0.5rem;
              padding: 3px 0;

              .dot {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 3px solid #f1f1f1;
                margin: 0 5px;
                background: #f1f1f1;

                cursor: pointer;
              }

              .active {
                background: rgb(32, 32, 32);
              }
            }
          }
        }
      }
    }
  }
  .projectsBG::after {
    content: "";
    position: absolute;
    top: -10px;
    height: 20px;
    width: 100%;
    max-width: 1920px;
    background: #32a49a;
  }
}

@media (max-width: 1300px) {
  .projectsContainer {
    .projectsBG {
      .projectsWrapper {
        .projectContainer {
          .projectWrapper {
            max-width: 700px;
            margin: 0 auto;
            gap: 0;
            box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.15);
            border-radius: 0.5rem;

            .projectDescription {
              flex-basis: 100%;
              max-width: 100%;
              border-radius: 0.5rem 0.5rem 0 0;
              box-shadow: none;
            }

            .projectImage {
              border-radius: 0 0 0.5rem 0.5rem;
              padding: 0 3rem 3rem 3rem;
              border: none;
              box-shadow: none;

              .slide {
                top: 0;
                left: 3rem;
                height: calc(100% - 3rem);
                width: calc(100% - 6rem);
                z-index: -10;
              }

              .activeAnim {
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: auto;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .projectsContainer {
    .projectsBG {
      .projectsWrapper {
        .projectContainer {
          .projectWrapper {
            .projectDescription {
              border-radius: 0;
              border: none;
            }

            .projectImage {
              border-radius: 0;
              border: none;
              padding: 0;

              .slide {
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
